/* Accessibility Styles */
.a11yHidden,
legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main {
  position: relative;
  padding-top: 68px;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: url("../../images/coverImg.jpg") no-repeat;
  background-color: #ec5664;
}
.cover__content {
  width: 458px;
  background-color: yellow;
  text-align: center;
}
.cover__content__title {
  font-size: 48px;
}

.trip-planner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  transform: translateY(-50px);
  background-color: #ffffff;
  padding: 25px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}
.trip-planner__title {
  margin-bottom: 25px;
}
.trip-planner__content {
  margin-bottom: 32px;
}
.trip-planner__badge {
  position: absolute;
  top: 25px;
  right: 25px;
}

.right-aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 500px;
  left: 1150px;
}

.left-aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 500px;
  right: 1150px;
}

.trip-story {
  width: 1280px;
  margin: 0 auto;
}
.trip-story__tab {
  display: flex;
  font-size: 18px;
}
.trip-story__tab__story {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 55px;
  border-radius: 8px 0 0 0;
  border: 1px solid #9c5eff;
  color: #9c5eff;
}
.trip-story__tab__map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 55px;
  border-radius: 0 8px 0 0;
  border: 1px solid #d9d9d9;
  color: #9a9a9a;
}
.trip-story__day-list {
  display: flex;
  margin: 20px 0 10px 0;
}
.trip-story__day-list__title {
  margin-right: 10px;
}
.trip-story .trip-article {
  position: relative;
  border: 1px solid red;
  padding: 10px;
}
.trip-story .trip-article__header {
  display: flex;
}
.trip-story .trip-article__header__badge {
  position: absolute;
  top: 10px;
  right: 10px;
}
.trip-story .trip-article__profile {
  background-color: #bde9f9;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
}
.trip-story .trip-article__main__img-container {
  height: 240px;
  margin: 15px 0;
  background-color: #fee5a5;
}

.comment {
  width: 1280px;
  margin: 60px auto;
}
.comment__title {
  font-size: 24px;
  font-weight: 600;
}
.comment__container {
  border: 1px solid #6a6a6a;
  border-radius: 8px;
}
.comment__inputbox {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid #d9d9d9;
}
.comment__inputbox__profile {
  background-color: #bde9f9;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
}
.comment__inputbox__inputform {
  width: 90%;
  margin: 16px;
}
.comment__inputbox__inputform input {
  width: 100%;
  height: 30px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

[class] {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font: inherit;
  background-color: #fff;
}


/* Accessibility Styles */
.a11yHidden,
legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.login {
  width: 500px;
  margin: 153px auto 100px;
}
.login__title {
  margin-bottom: 80px;
  font-size: 48px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}
.login .input__form {
  position: relative;
  width: 100%;
  padding-top: 28px;
  margin-top: 25px;
}
.login .input__form:first-child {
  margin-top: 0;
}
.login .input__form label {
  position: absolute;
  left: 15px;
  bottom: 16px;
  color: #6a6a6a;
  font-size: 14px;
  transition: 0.3s ease;
}
.login .input__form label.on {
  bottom: auto;
  left: 0;
  top: 0;
}
.login .input__form input {
  width: 100%;
  height: 54px;
  padding: 15px;
  border: 2px solid #d1b4ff;
  border-radius: 8px;
  font-size: 16px;
}
.login__forget__pw {
  display: inline-block;
  margin-top: 15px;
  color: #21bcff;
  font-size: 14px;
}
.login .submit__btn {
  appearance: none;
  border: 0;
  padding: 0;
  background: none;
  width: 100%;
  height: 54px;
  margin-top: 95px;
  border-radius: 8px;
  background: #9c5eff;
  color: #ffffff;
  font-size: 16px;
}
.login .submit__btn:disabled {
  background: #d9d9d9;
}
.login__signup__btn {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
}
.login__signup__btn span {
  color: #6a6a6a;
}
.login__signup__btn a {
  color: #21bcff;
}

.signup__id__form {
  position: relative;
}
.signup__id__form input {
  padding-right: 67px;
}
.signup__id__form__btn {
  appearance: none;
  border: 0;
  padding: 0;
  background: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 67px;
  height: 54px;
  background: #9c5eff;
  border-radius: 0 8px 8px 0;
  color: #ffffff;
  font-size: 16px;
}
.signup .checkbox__form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.signup .checkbox__form input {
  display: none;
}
.signup .checkbox__form input:checked + label {
  background-image: url(/assets/images/checkbox_on.svg);
}
.signup .checkbox__form label {
  padding-left: 30px;
  font-size: 16px;
  color: #252525;
  background: url(/assets/images/checkbox_off.svg) no-repeat;
  background-position: left center;
}
.signup .checkbox__form__link {
  font-size: 14px;
  color: #21bcff;
}
.signup__back__btn {
  appearance: none;
  border: 0;
  padding: 0;
  background: none;
  width: 100%;
  height: 54px;
  margin-top: 15px;
  border-radius: 8px;
  background: #9a9a9a;
  color: #ffffff;
  font-size: 16px;
}

.intro {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 1280px;
  min-height: 600px;
  width: 100%;
  height: 100vh;
}
.intro .header {
  background: none;
  box-shadow: none;
}
.intro .header .nav {
  min-width: 1280px;
  width: 80%;
}
.intro .header .nav__item {
  color: #ffffff;
}
.intro__copywriter {
  flex-basis: 45%;
  height: 100%;
  padding-top: 260px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.intro__copywriter__title span {
  font-size: 28px;
  color: #9a9a9a;
}
.intro__copywriter__title strong {
  display: block;
  color: #252525;
  font-size: 80px;
  font-weight: bold;
}
.intro__copywriter__link {
  display: inline-block;
  padding: 30px 70px;
  border-radius: 8px;
  background: #9c5eff;
  color: #ffffff;
}
.intro__copywriter .footer {
  background: none;
  font-size: 14px;
  color: #d9d9d9;
}
.intro__service {
  position: relative;
  flex-basis: 55%;
  height: 100%;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.intro__service__info {
  min-width: 710px;
  width: 40%;
  padding: 16px 0;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.intro__service__info dl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 20px;
  color: #ffffff;
}
.intro__service__info dl dt {
  font-size: 14px;
}
.intro__service__info dl dd {
  padding-top: 25px;
  font-size: 24px;
  font-weight: bold;
}
.intro__service video {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(156, 156, 156, 0.25);
  padding: 16px 0px;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
}
.nav__list {
  display: flex;
}
.nav__item {
  margin-left: 20px;
}

footer {
  width: 100%;
  padding: 16px 0;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

.dimmed__layer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}
.dimmed__layer .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #ffffff;
  transform: translate3d(-50%, -50%, 0);
}
.dimmed__layer .modal__header {
  position: relative;
  padding: 17px 0;
  border-bottom: 1px solid #d9d9d9;
}
.dimmed__layer .modal__header__title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.dimmed__layer .modal__header__close__btn {
  appearance: none;
  border: 0;
  padding: 0;
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background: url(/assets/images/close.svg) no-repeat;
  background-position: center;
  background-size: 16px;
}
.dimmed__layer .modal__form {
  padding: 25px;
}
.dimmed__layer .modal__form__input {
  width: 100%;
  margin-top: 15px;
}
.dimmed__layer .modal__form__input:first-child {
  margin-top: 0;
}
.dimmed__layer .modal__form__input input {
  width: 100%;
  height: 52px;
  padding: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-size: 16px;
}
.dimmed__layer .modal__form__input.date__form {
  float: left;
  width: calc(50% - 8px);
  margin-right: 16px;
}
.dimmed__layer .modal__form__input.date__form:nth-child(3) {
  margin-right: 0;
}
.dimmed__layer .modal .submit {
  margin-top: 70px;
}

/*# sourceMappingURL=style.css.map */
