.calendar {
  position: absolute;
  left: 0;
  top: 60px;
  border-radius: 8px;
  border: 1px solid $gray100;
  box-shadow: 0 0 10px 0 $shadow;
  background: $white;

  &__header {
    position: relative;
    padding: 15px;
    @include flexbox(row, space-between, center);

    &::after {
      content: '';
      position: absolute;
      left: 15px;
      bottom: 0;
      width: calc(100% - 30px);
      height: 1px;
      background: $gray100;
    }

    strong {
      flex: 1;
      font-weight: bold;
      font-size: 16px;
    }

    button {
      @include buttonNone;
      text-indent: -9999px;
      width: 30px;
      height: 30px;
      opacity: 0.8;
      background: url(/assets/images/angle-left-solid.svg) no-repeat;
      background-size: 10px;
      background-position: center;
    }

    button:last-child {
      transform: rotate(180deg);
    }
  }

  &__contents {
    padding: 10px;
  }

  &__week__list {
    @include flexbox(row, space-between, center);
  }

  &__week__item {
    width: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: $gray900;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__dates__list {
    @include flexbox(row, flex-start, center, wrap);
  }

  &__dates__item {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;

    &.prev-month,
    &.next-month {
      color: $gray600;
    }

    &.unable {
      color: $gray300;
      &:hover {
        color: $gray300;
        background: transparent;
        cursor: auto;
      }
    }

    &.start-date {
      color: $gray600;
      border-radius: 50%;
      background: $sighitGreen100;
      cursor: pointer;
    }

    &.trip-date {
      color: $gray600;
      background: $etcYellow100;
      cursor: pointer;
    }

    &.end-date {
      color: $gray600;
      border-radius: 50%;
      background: $transferRed100;
      cursor: pointer;
    }

    &.today {
      color: $white;
      background: $mainPurple;
      border-radius: 50%;
    }

    &:hover {
      color: $white;
      border-radius: 50%;
      background: $lightPurple;
      cursor: pointer;
    }
  }
}

.calendar.hide {
  display: none;
}
