.time-table {
  --time--height: 62;
  position: relative;
  width: 100%;
  height: calc(var(--time--height) * 24px + 25px);
  padding-left: 65px;

  &__times {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    padding-left: 65px;
    padding-top: 25px;
    width: 100%;
    height: 100%;
    // border-right: 1px solid $gray300;
    font-size: 14px;
  }
  &__time {
    position: absolute;
    left: -50px;
    top: -9px;
  }

  &__time-item {
    position: relative;
    height: calc(var(--time--height) * 1px);
    color: $gray500;
    width: 100%;

    .line {
      display: block;
      width: 100%;
      height: 1px;
      background: $gray300;
    }
  }
  &__day-index {
    width: 100%;
    height: 100%;
    display: flex;

    &__blank {
      // width: calc(100% / 3);
      width: 405px;
      height: 100%;
      padding-top: 25px;
      left: 65px;
      border-left: 1px solid $gray300;

      &:last-child {
        border-right: 1px solid $gray300;
      }

      &:nth-child(3n) {
        border-right: 0;
      }

      li {
        position: relative;
        width: 100%;
        height: calc(var(--time--height) * 1px);

        &.first {
          .itinerary-card {
            position: relative;
            z-index: 1;
            border-radius: 6px 6px 0 0;
            &-emph {
              border-radius: 6px 0 0 0;
            }
          }
        }

        &.last {
          padding-bottom: 2px;

          .itinerary-card {
            border-radius: 0 0 6px 6px;
            &-emph {
              height: 100%;
              border-radius: 0 0 0 6px;
            }
          }
        }

        &.first-last {
          padding-bottom: 2px;

          .itinerary-card {
            position: relative;
            z-index: 1;
            border-radius: 6px;
            &-emph {
              height: 100%;
              border-radius: 6px 0 0 6px;
            }
          }
        }
      }

      .itinerary-card {
        padding-top: 8px;
        height: 100%;

        &--check {
          width: 100%;
          align-items: center;

          &__title {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            padding-left: 25px;
            padding-right: 10px;
            font-weight: 700;
          }

          &__memo {
            padding-left: 25px;
            font-size: 14px;
            word-break: break-all;
          }
        }

        &--add {
          position: absolute;
          top: 10px;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
          border: 1px solid $mainPurple;
          border-radius: 50%;
          background: $mainPurple;
          color: $white;
          cursor: pointer;
        }

        &--delete {
          position: absolute;
          right: -6px;
          top: -14px;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          border: 0;
          background: $black url(/assets/images/close.svg) no-repeat;
          background-position: center;
          background-size: 10px;
        }

        &-emph {
          position: absolute;
          left: 0;
          top: 0;
          width: 10px;
          height: 100%;
        }
      }

      .accomodation {
        &.itinerary-card {
          background: $accommodationBlue100;

          .itinerary-card--check__title,
          .itinerary-card--check__memo {
            color: $accommodationBlue500;
          }

          .itinerary-card-emph {
            background: $accommodationBlue500;
          }
        }
      }

      .transportation {
        &.itinerary-card {
          background: $transferRed100;

          .itinerary-card--check__title,
          .itinerary-card--check__memo {
            color: $transferRed500;
          }

          .itinerary-card-emph {
            background: $transferRed500;
          }
        }
      }

      .sightseeing {
        &.itinerary-card {
          background: $sighitGreen100;

          .itinerary-card--check__title,
          .itinerary-card--check__memo {
            color: $sighitGreen500;
          }

          .itinerary-card-emph {
            background: $sighitGreen500;
          }
        }
      }

      .etc {
        &.itinerary-card {
          background: $etcYellow100;

          .itinerary-card--check__title,
          .itinerary-card--check__memo {
            color: $etcYellow500;
          }

          .itinerary-card-emph {
            background: $etcYellow500;
          }
        }
      }
    }
  }
}

.itinerary-btns {
  padding: 60px 0;

  display: flex;
  justify-content: space-between;
}
.itinerary-btns--private {
  border: none;
  border-radius: 6px;
  background: $mainPurple;
  width: 630px;
  height: 54px;
  color: $white;
}
// .itinerary-btns--private:hover {
//   background: #a36cfd;
//   transition: all 0.3s;
// }
.itinerary-btns--public {
  background: none;
  border: 2px solid $mainPurple;
  border-radius: 6px;
  width: 630px;
  height: 54px;
}
.itinerary-btns--public:hover {
  background: $mainPurple;
  color: $white;
  transition: all 0.2s;
}
