$base-font: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
  'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  sans-serif;

body {
  font: inherit;
  font-family: 'Spoqa Han Sans Neo', $base-font, 'sans-serif';
  background-color: #fff;
}

button {
  cursor: pointer;
}

.displayNone {
  display: none;
}
