.intro {
  @include flexbox(row);
  min-width: 1280px;
  min-height: 600px;
  width: 100%;
  height: 100vh;

  &__header {
    background: none;
    box-shadow: none;

    .nav {
      min-width: 1280px;
      width: 80%;
      &__item {
        color: $white;
      }
    }
  }

  &__copywriter {
    flex-basis: 45%;
    height: 100%;
    padding-top: 260px;
    text-align: center;
    @include flexbox(column, space-between, center);

    &__title {
      span {
        font-size: 28px;
        color: $gray500;
      }

      strong {
        display: block;
        color: $gray900;
        font-size: 80px;
        font-weight: bold;
      }
    }

    &__link {
      display: inline-block;
      padding: 30px 70px;
      border-radius: 8px;
      background: $mainPurple;
      color: $white;
    }

    .footer {
      background: none;
      font-size: 14px;
      color: $gray300;
    }
  }

  &__service {
    position: relative;
    flex-basis: calc(100% - 45%);
    height: 100%;
    @include flexbox(column-reverse);

    &__info {
      min-width: 710px;
      width: 40%;
      padding: 16px 0;
      @include flexbox(row-reverse);

      dl {
        @include flexbox;
        margin-left: 20px;
        color: $white;

        dt {
          font-size: 14px;
        }

        dd {
          padding-top: 25px;
          font-size: 24px;
          font-weight: bold;
        }
      }
    }

    video {
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
