$white: #ffffff;
$gray100: #f8f8f8;
$gray300: #d9d9d9;
$gray500: #9a9a9a;
$gray600: #6a6a6a;
$gray900: #252525;
$black: #000000;
$dimmed: rgba(0, 0, 0, 0.4);
$mainPurple: #9c5eff;
$lightPurple: #d1b4ff;
$transferRed100: #ffd6cd;
$etcYellow100: #fee5a5;
$sighitGreen100: #d1ecb4;
$accommodationBlue100: #bde9f9;
$badgeAlert: #ec5664;
$shadow: rgba(156, 156, 156, 0.25);
$textBlue: #21bcff;
