.itinerary__container {
  width: 1280px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  width: 100%;
  height: 60px;
  padding-left: 65px;
  background: $black;
  /* carousel 요소의 width 셋팅이 완료될 때까지 감춘다. */
  opacity: 1;
  &__days {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    // padding: 10px 170px;
  }
  &--btn {
    position: absolute;
    top: 50%;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background: none;
    color: $white;
    cursor: pointer;
    z-index: 99;
  }
  .prev--btn {
    left: 65px;
    top: 21px;
  }

  .next--btn {
    right: 65px;
    top: 21px;
  }

  &__day-index {
    width: 395px;
    color: $white;
    text-align: center;
    flex-shrink: 0;
    padding-top: 10px;
    &--add {
      border: none;
      background: transparent;
      border: 1px solid $mainPurple;
      border-radius: 50%;
      background: $white;
      color: $mainPurple;
      cursor: pointer;
      margin-right: 4px;
    }
  }
}
