.schedule__container {
  width: 1280px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  width: 100%;
  height: 60px;
  padding-left: 65px;
  background: $black;
  /* carousel 요소의 width 셋팅이 완료될 때까지 감춘다. */
  opacity: 1;
  &__days {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    // padding: 10px 170px;
  }
  &--btn {
    position: absolute;
    top: 50%;
    font-size: 16px;
    // color: green;
    border: none;
    background: none;
    color: $white;
    cursor: pointer;
    z-index: 99;
  }
  &__day-index {
    width: 395px;
    color: $white;
    text-align: center;
    flex-shrink: 0;
    padding-top: 10px;
  }
}

.prev--btn {
  left: 65px;
  top: 21px;
}

.next--btn {
  right: 65px;
  top: 21px;
}

.modal--btn {
  border: none;
  background: transparent;
  color: $white;
  cursor: pointer;
}
