.nav__list:last-child {
  position: relative;
}

.my-page-modal {
  position: absolute;
  top: 42px;
  border: 1px solid $gray500;
  background: $gray100;
  padding: 16px;
  width: 150px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(213, 213, 213, 1.25);

  &__item {
    margin: 4px 0;
  }
  &__link.mypage {
    color: $mainPurple;
  }
  &__link.logout {
    font-weight: 700;
  }
}

.my-page-modal.hide {
  display: none;
}
