.my-travel-log {
  &__link {
    @include flexbox($direction:row);
  }

  &__item{
    background: $white;
    width: 900px;
    height: 196px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(213, 213, 213, 1.25);

    
    &-thumbnail {
      display: flow-root;
      @include boxSize($w: 240px, $h: 196px);

      
      &__img {
        @include boxSize($w: 240px, $h: 196px);
        border-radius: 8px 0px 0px 8px;
      }
    }

    &__main {
      position: relative;
      padding: 20px 20px;

      &__title {
        text-indent: 4px;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 12px;
      }

      &__subtitle {
        font-size: 18px;
        margin-bottom: 8px;
        color: $gray500;
      }

      &__desc {
        color: $gray900;
      }

      &__social {
        @include flexbox($direction: row, $items:flex-start);
        position: absolute;
        margin-top: 12px;
        color: $gray500;

        .social-icon:not(:last-child) {
          margin-right: 12px;
        }

        svg {
          margin-right: 4px;
        }
      }
    }

    &__button {
      @include flexbox($direction: column, $justify:center);
      width: 240px;
      
      &-edit, &-delete, &-like {
        @include buttonNone;
        @include boxSize($w: 64px, $h:32px);
        border-radius: 8px;
        font-size: 14px;
      }

      &-edit, &-like {
        border: 1px solid $mainPurple;
        margin-bottom: 12px;
      }

      &-delete {
        background-color: $mainPurple;
        color: $white;
      }
    }
  }
  
  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__item:hover {
    opacity: 0.75;
  }
}