.time-table {
  width: 100%;
  // (35px * 24) + 16px
  height: 856px;
  &__times {
    padding-left: 65px;
    height: 100%;
    border-right: 1px solid $gray300;
    font-size: 14px;
    padding-top: 25px;
  }
  &__time {
    position: absolute;
    left: -50px;
    top: -9px;
  }
  &__blank {
    background: pink;
    margin-left: 65px;
  }
  &__time-item {
    position: relative;
    height: 35px;
    color: $gray500;
    width: 100%;
  }
  &__day-index {
    //사이즈 이상(화살표 누르면 튀어나옴)
    width: 1215px;
    background: pink;
    display: none;
  }
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid black;
}
