// hot-topic
.hot-topic {
  min-width: 1280px;
  width: 1280px;
  margin: 0 auto;
  margin-top: 160px;

  &__header {
    position: relative;
    @include flexbox($direction: row, $items: center);
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
  }

  &__hashtag__list {
    @include flexbox($direction: row);
    margin-left: 24px;
  }

  &__hashtag__item {
    padding-left: 16px;
    color: $gray600;
  }

  &__nav {
    position: absolute;
    @include flexbox($direction: row);
    right: 0;

    &__item {
      margin: 0 auto;
      max-width: 800px;

      &__circle {
        background-color: $gray300;
        margin: 0 auto;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        border-radius: 100%;
        cursor: pointer;
      }

      &__circle.checked {
        background-color: $gray600;
      }
    }
  }

  &__body {
    margin-top: 20px;
  }

  &__list {
    @include flexbox($direction: row, $justify: space-between);
  }
}
// Travel-log

.travel-log {
  min-width: 1280px;
  width: 1280px;
  margin: 0 auto;
  margin-top: 76px;
  margin-bottom: 80px;

  &__header {
    font-weight: 700;
    font-size: 28px;
  }

  &__form {
    position: relative;
    @include flexbox($direction: row);
    margin-top: 20px;
    height: 48px;

    &__dropdown {
      position: relative;
      overflow: hidden;
      width: 168px;
      border-radius: 8px;
      border: 1px solid #e5e5e5;
      background: url(/assets/images/select_arrow.svg) no-repeat;
      background-position: right 18px center;
      background-size: 14px;
      text-indent: 16px;
      color: $gray900;
      cursor: pointer;
    }

    &__input {
      position: absolute;
      right: 160px;
      width: 924px;
      height: 48px;
      text-indent: 16px;
      border: 1px solid #e5e5e5;
      border-radius: 8px 0 0 8px;
      color: $gray500;
    }

    &__button--submit {
      @include buttonNone;
      position: absolute;
      background: $mainPurple;
      border-radius: 0 8px 8px 0;
      color: $white;
      font-size: 18px;
      right: 0;
      width: 160px;
      height: 48px;
    }
  }

  &__body {
    margin-top: 32px;
  }

  &__list {
    position: relative;
    @include flexbox($direction: row, $wrap: wrap);
    gap: 40px;
  }
}
