.mypage {
  min-width: 1280px;
  width: 1280px;
  margin: 0 auto;
  margin-top: 180px;
}

.mypage-main, .profile-main {
  @include flexbox($direction:row);
  border-top: 1px solid $gray900;
  margin-top: 32px;
}

.side-nav {
  width: 320px;
  border-right: 1px solid $gray900;
  
  &__list {
    @include flexbox($direction: column);
    padding: 48px;
  }

  &__item {
    width: fit-content;
    font-size: 18px;
  }
  
  &__item.selected {
    border-bottom: 1px solid $gray900;
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

}

.mypage-main__section {
  section {
    @include flexbox($direction: row, $justify:center);
    margin: 32px 0;
    width: 960px;
  }
}


.my-travel-log {
  height: 500px;

  &__list {
    @include flexbox($direction: column, $items:center);
    padding: 30px;
  }

}

.profile-info-edit__form {
  @include pos($pos: relative);
  // @include autoMargin;

  &__input {
    @include flexbox($direction: column);
    width: 664px;
    height: 120px;

    label {
      font-size: 18px;
      color: $gray600;
      margin-bottom: 8px;
    }

    input {
      padding: 12px 16px;
      height: 54px;
      border: 2px solid $gray300;
      border-radius: 8px;

    }
  }
  .profile-info-edit__form__button {
    @include flexbox($direction: row, $justify: right);
    margin: 16px 0;

    button {
      @include boxSize($w:120px, $h:48px);
      @include buttonNone
    }

    button:not(:last-child) {
      margin-right: 20px;
    }

    .profile-info-edit__form-cancel {
      border: 1px solid $gray900;
      border-radius: 8px;
    }
    
    .profile-info-edit__form-edit {
      background: $mainPurple;
      border-radius: 8px;
      color: $white;
    }
  }

  .input__form:not(:last-child) {
    margin-bottom: 16px;

  }
}

.social {
  @include autoMargin;
  width: 960px;

  &__list {
    @include flexbox($direction: row,$wrap: wrap);
  }

}
